@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vad jag ska göra</h1>
    <p class="lead">Välkommen till min sida där man gör checklistor.</p>
    <p><a href="/Todo/new/" class="btn btn-primary btn-lg">Skapa din lista &raquo;</a></p>
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>MVC</h2>
        <p>
            För att skapa den här sidan har jag använt mig av ramverket MVC. MVC står för Model view controller och i det här
            projektet har jag arbetat programmering- och skript-språken C# och JavaScript.
        </p>
        <p><a class="btn btn-default" href="https://sv.wikipedia.org/wiki/Model-View-Controller">Läs mer &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>C# och JavaScript</h2>
        <p>
            Största delen av sidan är skapad JavaScript. Anledningen till det är att jag har försökt få min sida så restful som möjligt.
            C# har jag använt i codebehind och med det har jag bland annat skrivit API:er.
        </p>
        <p><a class="btn btn-default" href="https://sv.wikipedia.org/wiki/Javascript">Läs mer &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>API</h2>
        <p>API står för Application programming interface. Detta har jag använt för att skapa ett slags bibliotek med olika frågor
           som hämtar data. Mina API har jag kallat på med hjälp av AJAX.
        </p>
        <p><a class="btn btn-default" href="https://sv.wikipedia.org/wiki/Application_Programming_Interface">Läs mer &raquo;</a></p>
    </div>
</div>